<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 扫描相关注解 -->
    <context:component-scan base-package="com.qfedu.redis"></context:component-scan>


    <!-- jedis 连接池配置参数：  -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="100"></property>
        <property name="maxIdle" value="25"></property>
        <property name="maxWaitMillis" value="15000"></property>
        <property name="testOnBorrow" value="false"></property>
        <property name="testOnReturn" value="false"></property>
    </bean>
    <!-- jedis 连接池  连接本地redis服务 构造器注入-->
    <bean id="pool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0"  ref="poolConfig"/>
        <constructor-arg index="1" value="${120.55.46.124}"/>
        <constructor-arg index="2" value="${6379}"/>
        <constructor-arg index="3" value="${10000}"/>
    </bean>




</beans>